# Dataset (download from Kaggle, see README)
data/*.csv

# Trained models (large files -- push to HuggingFace Hub instead, see README)
models/*.pkl
models/*.npy
models/distilbert_mental/
models/*.csv

# Python
__pycache__/
*.pyc
.ipynb_checkpoints/
venv/
.env

# OS
.DS_Store
